@import url('../assets/webfonts/ss-standard.css');

@font-face {
  font-family: 'ProximaNova Italic';
  src: url("../assets/webfonts/ProximaNova-RegItalic.otf") format('opentype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova Regular';
  src: url("../assets/webfonts/ProximaNova-Regular.otf") format('opentype');
  font-weight: medium;
  font-style: normal;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: var(--blue);
  color: white;
}

html {
  font-size: 100%;
}

body {
  font: 400 1rem/1.5 var(--font-proxima);
  background-color: white;
  color: var(--space-gray);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

p {
  font-family: sans-serif;
}

header {
  font: 400 1rem/1.5 var(--font-proxima);
}

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

a, a:focus, a:visited {
  text-decoration: none;
  cursor: pointer;
}

.content {
  a:not(.button), a:focus:not(.button), a:visited:not(.button) {
    color: var(--cryogenic-blue);
  }
}

a:not(.button):hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 2.5rem 0;
  font-family: var(--font-proxima);
  line-height: var(--line-height-headings);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  margin-top: 0;
  font-size: var(--font-size-h2);
}

h3 {
  margin-bottom: 0;
  color: #8a9ba8;
  font-size: var(--font-size-h3);
  font-weight: 400;
  margin-top: -25px;
  padding-bottom: 25px;
}

h4 {
  font-size: var(--font-size-h4);
  margin: 20px;
}

ul {
  list-style-type: none;
}

ul.unstyled {
  list-style-type: none;
  padding: 0;
}

ul.numbered {
  list-style-type: none;
  counter-reset: count-list-items;
}

ul.numbered li {
  position: relative;
  counter-increment: count-list-items;
}

ul.numbered li:not(:last-child) {
  padding-bottom: 1.5rem;
}

ul.numbered li:before {
  content: counter(count-list-items);
  position: absolute;
  left: -2.5rem;
  top: 0;
  height: 1.875rem;
  width: 1.875rem;
  padding-top: 0.3rem;
  border-radius: 100%;
  color: var(--space-gray-light);
  border: 1px solid var(--space-gray-lighter);
  text-align: center;
  font-size: var(--font-size-small);
  background-image: linear-gradient(90deg, rgba(232, 234, 236, 0.3), white);
  background-image: -webkit-linear-gradient(90deg, rgba(232, 234, 236, 0.3), white);
}

/* Hide all sections by default - JavaScript will show the active one */
body > section {
  display: none;
}

body > section.connections {
  display: block;
}

.content {
  margin: 0 auto;
}

.content section {
  padding: 3.5rem 0;
  position: relative;
}

.content section:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 1px;
  width: 30%;
  margin-left: -15%;
  background: var(--space-gray-lighter);
}

.content section h3 + p {
  margin-top: 0.3125rem;
}

.single-column h3:first-of-type {
  margin-top: 0;
}

