header
  ul.horizontal
    li
      a.active.ss-icon.connections(href='#') database
    li
      a.ss-icon.query(href='#') search
    li
      a.ss-icon.put(href='#') pencil
    li
      a.ss-icon.settings(href='#') cog

