.controls {
  user-select: none;
  display: block;
  position: relative;
  padding-left: 16px;
}

.controls.top {
  background: var(--bg-secondary);
  box-shadow: var(--shadow-md);
  z-index: 100;
}

.controls .control {
  padding: 20px 8px;
  display: inline-block;
}

.controls .control.half {
  width: 50%;
}

.controls .control [name="limit"] {
  width: 50px;
}

