section.connections {
  background: #fafafa;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

section.connections .connection-options {
  display: block;
  padding: 15%;
  position: relative;
  height: auto;
}

section.connections .connection-options .option {
  position: relative;
  height: auto;
  min-height: 40px;
  margin-bottom: 25px;
  display: block;
}

section.connections .connection-options .option input[type="text"] {
  width: 80%;
}

section.connections .connection-options .option input[type="button"] {
  margin-left: -2px;
}

section.connections .connection-options .heading {
  display: block;
  margin-bottom: 8px;
  margin-top: 20px;
  height: auto;
  min-height: 28px;
  line-height: 1.2;
}

section.connections .connection-options .heading h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}

section.connections .connection-options .heading .large-icon {
  display: inline-block;
  vertical-align: middle;
}

