header {
  -webkit-app-region: drag;
  user-select: none;
  cursor: default;
  color: var(--header-text);
  background-color: var(--header-bg);
  width: 100%;
  height: 80px;
  display: table;
  margin: 0 auto;
}

header ul.horizontal {
  padding: 0;
  margin: auto;
  height: inherit;
  min-width: 696px;
  list-style: none;
}

header ul.horizontal li {
  display: inline;
}

header ul.horizontal li a,
header ul.horizontal li a:hover {
  -webkit-app-region: no-drag;
  position: relative;
  display: inline-block;
  margin: 25px;
  font-size: 25px;
  color: var(--header-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

header ul.horizontal li a.active {
  color: var(--accent-color);
}

