section.put {
  background: #ededed;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

section.put .key {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

section.put .key .cm-editor {
  border: none;
  box-shadow: inset 0 0 0 1px #e0e0e0;
}

section.put .value {
  position: absolute;
  top: 190px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

section.put .value .cm-editor {
  border: none;
  box-shadow: inset 0 0 0 1px #e0e0e0;
}

