section.put {
  background: var(--bg-tertiary);
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

section.put .key {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 100px;
  background: var(--bg-primary);
  border-bottom: 1px solid var(--border-color);
}

section.put .key .cm-editor {
  border: none;
  box-shadow: inset 0 0 0 1px var(--border-color-light);
}

section.put .value {
  position: absolute;
  top: 190px;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-primary);
}

section.put .value .cm-editor {
  border: none;
  box-shadow: inset 0 0 0 1px var(--border-color-light);
}

