section.query {
  position: absolute;
  top: 80px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #fafafa;
}

section.query [name="upper-bound"],
section.query [name="lower-bound"] {
  min-width: 22px;
  width: 22px;
}

section.query .tree-container {
  background: #ededed;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  width: 300px;
  overflow: auto;
}

section.query .tree-container input.active + label {
  color: #468DC9;
}

section.query .results {
  position: absolute;
  top: 73px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

section.query .results.resizing {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

section.query .results.open {
  left: 300px;
}

/* Hide tree container when collapsed */
section.query .tree-container[style*="display: none"] {
  display: none !important;
}

section.query .results .split {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  width: 10px;
  background: #ededed;
  cursor: ew-resize;
  z-index: 100;
  pointer-events: auto;
}

section.query .results .splitx {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  width: 10px;
  background: #ededed;
  cursor: ew-resize;
  z-index: 100;
  pointer-events: auto;
}

section.query .results .keys {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  bottom: 0px;
  z-index: 1;
}

section.query .results .keys select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 100%;
  outline: none;
  border: none;
}

section.query .results .keys select option {
  padding: 8px;
  font-size: 12px;
}

section.query .results .value {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0px;
  z-index: 1;
  background: #ffffff;
  overflow: hidden;
}

section.query .results .value .cm-editor {
  font-size: 13px;
  background: #fff;
  border: none;
}

